{#
/**
 * @file blaetter_formatters_issue.html.twig
 * Displays a link to an edition with information about the issue
 *
 * Available variables:
 * - book_id:
 * - edition:
 * - year:
 * - issue_prefix
 * - display_pages
 * - page_from
 * - page_to
 * - extra_styles
 *
 * @ingroup themeable
 */
#}
<div class="articleinfo {{ extra_styles}}">
    <div>{{ issue_prefix }}
        <a href="{{ path('entity.node.canonical', {'node': book_id}) }}">»Blätter« {{ edition }}/{{ year }}</a>{% if display_pages %}, S. {{ page_from }}-{{ page_to }}{% endif %}
    </div>
</div>
